<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
<center><h2>Welcome To Vibe To-Do-List 😎 </h2></center>
